 <head>
  <!--  flash messages for html -->
    <style>
      .alert-error {
        padding: 8px;
        background-color: darkorange;
        color: white;
      }
    </style>
      <!--  end of flash messages for html -->
  </head>
<!--  flash messages for html -->
    {% for message in get_flashed_messages() %}
      <div class="alert-error"> {{ message }}</div>
    {% endfor %}
<!-- end of flash messages for html -->
<form action="" method = "POST">
    <p>email <input type = "login" name = "login" /></p>
    <p>password <input type = "password" name = "password" /></p>
    <p> submit <input type = "submit" value = "Submit" /></p>
</form>

<h3>Dont Have an account??</h3>
<h3><a href = "{{url_for('register') }}">Register Here</a></h3>
