<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    {% if data %}
        {% for wpis in data %}
            <h2> <a href="/delete/{{wpis.id}}"> {{wpis.tytul}}</a> </h2>
            <p> By {{ wpis.user_id }} on {{ wpis.data }}</p>
            <p> {{ wpis.tresc }}</p>
        {% endfor %}
    {% else %}
        <h2> No posts on BlogSfera </h2>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('add')}}">New Post</a>
        <a class="nav-link" href="{{url_for('login')}}">Login</a>
        <a class="nav-link" href="{{url_for('register')}}">Register</a>
    </li>
</body>
</html>