<h1>{% block title %} Modify {% endblock %}</h1>
<head>
  <!--  flash messages for html -->
    <style>
      .alert-error {
        padding: 8px;
        background-color: darkorange;
        color: white;
      }
    </style>
      <!--  end of flash messages for html -->
  </head>
<!--  flash messages for html -->
    {% for message in get_flashed_messages() %}
      <div class="alert-error"> {{ message }}</div>
    {% endfor %}
<!-- end of flash messages for html -->


<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ updatePost.tytul }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content"
                  class="form-control">{{ updatePost.tresc }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>